*.class

#package file

*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.patch
*.diff
*.tmp

#system ignore
.DS_Store
Thumbs.db

#其他
.classpath
.factorypath
.project
.settings/


